*                                                  @plexoos           @nigmatkulov
.github/                                           @plexoos           @veprbl
/OnlTools                                          @plexoos           @jml985
/StDb                                              @dmarkh
/StDb/idl                                          @akioogawa         @dmarkh      @fgeurts     @iraklic     @fisyak      @R-Witt
/StRoot/PWGTools				                   @nigmatkulov	      @zsweger	   @marrbnl     @lbavinh
/StRoot/RTS                                        @akioogawa         @jml985      @tonko-lj
/StRoot/StAnalysisMaker                            @fisyak      @R-Witt        @iraklic
/StRoot/StAnalysisUtilities/StHistUtil*            @genevb
/StRoot/StAssociationMaker/EMC                     @kkauder           @rkunnawa    @Navagyan
/StRoot/StBFChain                                  @genevb            @plexoos     @klendathu2k @fisyak      @R-Witt        @iraklic
/StRoot/StBichsel                                  @fisyak      @R-Witt        @iraklic
/StRoot/StBTof*                                    @ZaochenYe         @fgeurts     @starsdong   @jdbrice
/StRoot/StBbcSimulationMaker                       @akioogawa
/StRoot/StChain                                    @klendathu2k       @fisyak      @R-Witt        @iraklic
/StRoot/StDAQMaker                                 @akioogawa
/StRoot/StDaqLib                                   @jml985
/StRoot/StDaqLib/EEMC                              @kkauder           @rkunnawa    @zlchang
/StRoot/StDaqLib/EMC                               @kkauder           @rkunnawa    @Navagyan
/StRoot/StDaqLib/FPD                               @akioogawa
/StRoot/StDaqLib/L3                                @jml985            @tonko-lj
/StRoot/StDaqLib/SC                                @genevb
/StRoot/StDaqLib/SSD                               @starsdong
/StRoot/StDaqLib/TOF                               @ZaochenYe         @fgeurts     @starsdong   @jdbrice
/StRoot/StDaqLib/TRG                               @akioogawa
/StRoot/StDataFilterMaker                          @genevb
/StRoot/StDb*                                      @dmarkh
/StRoot/StDbUtilities                              @fisyak      @R-Witt        @iraklic
/StRoot/StDbUtilities/StMagUtilities*              @genevb
/StRoot/StDetectorDbMaker                          @dmarkh            @fisyak      @R-Witt        @iraklic
/StRoot/StDetectorDbMaker/StDetectorDbBeamInfo*    @genevb
/StRoot/StDetectorDbMaker/StDetectorDbGridLeak*    @genevb
/StRoot/StDetectorDbMaker/StDetectorDbRichScalers* @genevb
/StRoot/StDetectorDbMaker/StDetectorDbSpaceCharge* @genevb
/StRoot/StDetectorDbMaker/StDetectorDbTpcOmegaTau* @genevb
/StRoot/StDetectorDbMaker/St_EbyET0*               @genevb
/StRoot/StDetectorDbMaker/St_TpcSpaceCharge*       @genevb
/StRoot/StDetectorDbMaker/St_spaceChargeCor*       @genevb
/StRoot/StDetectorDbMaker/St_tpcOmegaTau*          @genevb
/StRoot/StDetectorDbMaker/St_tpcSCGLC*             @genevb
/StRoot/StDetectorDbMaker/St_trigDetSums*          @genevb
/StRoot/StDetectorDbMaker/St_vertexSeed*           @genevb
/StRoot/StEEmc*                                    @kkauder           @rkunnawa    @zlchang
/StRoot/StEEmcSimulatorMaker                       @kkauder           @rkunnawa    @klendathu2k @zlchang
/StRoot/StEEmcUtil                                 @kkauder           @rkunnawa    @klendathu2k @tinglin-physics @zlchang
/StRoot/StEEmcPool                                 @tinglin-physics   @zlchang
/StRoot/StETof*                                    @PhilippWeidenkaff @ideppner    @YannickSoehngen
/StRoot/StEmc*                                     @kkauder           @rkunnawa    @Navagyan    @zlchang
/StRoot/StEmbeddingUtilities                       @zhux97
/StRoot/StEpd*					   @Femtoscopist
/StRoot/StEvent*                                   @klendathu2k
/StRoot/StEvent/StTpc*                             @fisyak      @R-Witt        @iraklic
/StRoot/StEventUtilities/StEbyET0*                 @genevb
/StRoot/StEventUtilities/StRedoTracks*             @genevb
/StRoot/StEventUtilities/StuFixTopoMap*            @genevb
/StRoot/StEventUtilities/TwistPatch*               @genevb
/StRoot/StFcs*                                     @akioogawa         @jdbrice  @mrosales2016
/StRoot/StFms*                                     @akioogawa
/StRoot/StFpd*                                     @akioogawa
/StRoot/StFst*                                     @jdbrice           @sunxuhit    @yezhenyu2003   @techuan-huang
/StRoot/StFtt*                                     @jdbrice
/StRoot/StFwd*					   @jdbrice
/StRoot/StGenericVertexMaker                       @plexoos           @akioogawa   @klendathu2k @fisyak      @R-Witt        @iraklic
/StRoot/StHbtMaker                                 @JohnTheBlindMilkman            @DanielWielanek
/StRoot/StHeavyPool                                @starsdong         @fgeurts
/StRoot/StIOMaker                                  @plexoos
/StRoot/StIst*                                     @plexoos           @starsdong
/StRoot/StJetFinder                                @zlchang           @veprbl
/StRoot/StJetMaker                                 @zlchang           @veprbl
/StRoot/StLaser*                                   @fisyak      @R-Witt        @iraklic
/StRoot/StMCFilter                                 @klendathu2k
/StRoot/StMagF                                     @fisyak      @R-Witt        @iraklic
/StRoot/StMc*                                      @klendathu2k
/StRoot/StMcAnalysisMaker                          @klendathu2k
/StRoot/StMcEvent*                                 @klendathu2k
/StRoot/StMiniMc*				   @klendathu2k	      @fisyak      @R-Witt        @iraklic	   @zhux97
/StRoot/StMtd*                                     @marrbnl
/StRoot/StMuDSTMaker                               @jdbrice
/StRoot/StMuDSTMaker/EMC                           @kkauder           @rkunnawa    @Navagyan
/StRoot/StMuDSTMaker/RICHTOF                       @fgeurts           @starsdong
/StRoot/StPass0CalibMaker                          @genevb            @iraklic
/StRoot/StPico*                                    @nigmatkulov       @marrbnl     @plexoos
/StRoot/StPxl*                                     @starsdong         @GuannanXie
/StRoot/StRefMultCorr                              @nigmatkulov       @zsweger     @lbavinh
/StRoot/StRHICf*				   @ggfdsa10
/StRoot/StRTSClient                                @jml985            @tonko-lj
/StRoot/StShadowMaker                              @genevb
/StRoot/StSpinPool                                 @akioogawa         @zlchang     @veprbl  @mrosales2016
/StRoot/StSsd*                                     @starsdong         @plexoos
/StRoot/StSst*                                     @starsdong         @plexoos
/StRoot/StStarLogger                               @fisyak      @R-Witt        @iraklic
/StRoot/StTableUtilities                           @fisyak      @R-Witt        @iraklic
/StRoot/StTagsMaker                                @fisyak      @R-Witt        @iraklic
/StRoot/StTof*                                     @jdbrice           @fgeurts     @starsdong
/StRoot/StTpc*                                     @fisyak      @R-Witt        @iraklic
/StRoot/StTriggerDataMaker                         @akioogawa
/StRoot/StTriggerUtilities                         @zlchang           @akioogawa   @jml985
/StRoot/StTrsMaker                                 @fisyak      @R-Witt            @iraklic
/StRoot/StUtilities/StMess*                        @genevb
/StRoot/StUtilities/StMultiH*                      @genevb
/StRoot/StVpd*                                     @ZaochenYe         @fgeurts
/StRoot/St_QA_Maker                                @genevb
/StRoot/St_base*                                   @fisyak      @R-Witt        @iraklic
/StRoot/St_db_Maker                                @dmarkh
/StRoot/St_geant_Maker                             @klendathu2k @fisyak      @R-Witt        @iraklic
/StRoot/St_geant_Maker/Embed                       @zhux97         
/StRoot/St_l3Clufi_Maker                           @jml985            @tonko-lj
/StRoot/St_l3t_Maker                               @jml985            @tonko-lj
/StRoot/St_tcl_Maker                               @fisyak      @R-Witt           @iraklic
/StRoot/Star2Root                                  @fisyak      @R-Witt        @iraklic
/StRoot/StarClassLibrary                           @klendathu2k
/StRoot/StarGenerator                              @klendathu2k
/StRoot/StarMagField                               @fisyak      @R-Witt        @iraklic
/StRoot/StarRoot                                   @klendathu2k @fisyak      @R-Witt        @iraklic
/StRoot/StdEdx*                                    @fisyak      @R-Witt        @iraklic
/StRoot/Sti*                                       @klendathu2k       @plexoos     @starsdong @fisyak      @R-Witt        @iraklic
/StRoot/Stl3*                                      @jml985            @tonko-lj
/StRoot/StvUtil                                    @klendathu2k
/StRoot/TPCCATracker                               @fisyak      @R-Witt        @iraklic
/StRoot/macros                                     @genevb            @plexoos     @fisyak      @R-Witt        @iraklic
/StRoot/macros/embedding                           @zhux97
/StRoot/macros/mudst                               @nigmatkulov       @plexoos
/StarDb                                            @dmarkh @fisyak      @R-Witt        @iraklic
/StarDb/AgML*                                      @klendathu2k
/StarDb/AgiGeometry                                @klendathu2k
/StarDb/Calibrations                               @genevb
/StarDb/Calibrations/emc                           @kkauder           @rkunnawa    @Navagyan
/StarDb/Calibrations/tof                           @ZaochenYe         @fgeurts
/StarDb/Calibrations/tpc                           @fisyak      @R-Witt            @iraklic
/StarDb/Calibrations/tracker                       @klendathu2k
/StarDb/Geometry                                   @genevb            @klendathu2k
/StarDb/Geometry/tpc                               @fisyak      @R-Witt            @iraklic
/StarDb/VmcGeometry                                @klendathu2k
/StarDb/emc                                        @kkauder           @rkunnawa    @Navagyan
/StarVMC                                           @klendathu2k
/StarVMC/geant3                                    @fisyak      @R-Witt        @iraklic
/StarVMC/Geometry                                  @klendathu2k
/StarVMC/StarAgml*                                 @klendathu2k
/StarVMC/StarBASE                                  @klendathu2k
/StarVMC/StarGeometry                              @klendathu2k
/StarVMC/StarVMCApplication                        @fisyak      @R-Witt        @iraklic
/StarVMC/xgeometry                                 @klendathu2k
/mgr                                               @genevb            @klendathu2k @fisyak      @R-Witt        @iraklic     @plexoos
/pams                                              @klendathu2k       @fisyak      @R-Witt        @iraklic
/pams/sim                                          @akioogawa         @klendathu2k
/pams/tables                                       @dmarkh
/asps                                              @klendathu2k
