jobDir      : /star/data10/GC/aihong/codeCleanUpTest
jobName     : runSchedulerJobsExample      # suggest take the same name of this config file
macroName   : doFlowEvents.C 
maxFiles    : 80
libVersion  : dev          # do not use abrevation like "01i" here.
scriptName  : run.csh
logFileName : run.log
partnPrefix : job             # diff. partition will name as job1, job2, etc.
schedName   : run.xml
picoDSTLink : flowPicoDst     # directory containing pico dst links for a part.
histoFile   : flow.cumulant.root     
yieldFile   : flow.hist.root
meanGFile   : denominatorNew.root
weightFile  : flowPhiWgtNew.hist.root
