<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration xmlns='http://logging.apache.org/'>

  <appender name="D1" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-3c{2}:%-5p - %m%n"/>
    </layout>	    
  </appender>
  
  <root>
    <priority value ="DEBUG" />
    <appender-ref ref="D1" />
  </root>
  
</configuration>
