RBTOW 225.405
RCONE 0.7
SEED 0.5
ASSOC 0.0
SPLIT 0.5
MIDPOINT 1
STABLEMIDPOINTS 1
SPLITMERGE 1
PARTICLEETA 3.5
JETETAHIGH 1.3
JETETALOW -1.3
DIJETPTLOW 7.0
DIJETPTHIGH 10.0
DPHI 2.0
MINJETPT 4.0
DETA 2.6
RECOHADRON 1.1
RECOLEPTON 1.5
