<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration xmlns='http://logging.apache.org/'>

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-3c{2}:%-5p - %m%n"/>
    </layout>
  </appender>

  <logger name="BFC"><priority value="INFO"/></logger>
  <logger name="StChain"><priority value="INFO"/></logger>
  <logger name="StTimeRandomizerMaker"><priority value="WARN"/></logger>
  <logger name="St_db_Maker"><priority value="WARN"/></logger>
  <logger name="StEmcSimulatorMaker"><priority value="WARN"/></logger>
  <logger name="StEmcTriggerMaker"><priority value="WARN"/></logger>
  <logger name="StSpinDbMaker"><priority value="WARN"/></logger>
  <logger name="StJetMaker"><priority value="WARN"/></logger>
  <logger name="StPi0DataMaker"><priority value="WARN"/></logger>
  <logger name="StPi0DataSaveMaker"><priority value="WARN"/></logger>

  <root>
    <priority value="WARN" />
    <appender-ref ref="console" />
  </root>

</configuration>
