dataDir     : /beta/starprod/flowpico
jobDir      : /auto/pdsfdv45/starhipt/aihong/speedUpCumulant
jobName     : runParallelJobsExample      # suggest take the same name of this config file
NPartition  : 6               # number of partitions of job
macroName   : doFlowEvents.C 
libVersion  : SL01i
scriptName  : run.csh
logFileName : run.log
partnPrefix : job             # diff. partition will name as job1, job2, etc.
picoDSTLink : flowPicoDst     # directory containing pico dst links for a part.
histoFile   : flow.cumulant.root     
yieldFile   : flow.hist.root
meanGFile   : denominatorNew.root
weightFile  : flowPhiWgtNew.hist.root
