<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration xmlns='http://logging.apache.org/'>

	<appender name="root_appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c{2}:%p  %m%n"/>
		</layout>	    
		
		<filter class="StringMatchFilter">
			<param name="StringToMatch" value="Space Charge Correction" /> 
			<param name="AcceptOnMatch" value="false " /> 
		</filter>
		
		<filter class="StringMatchFilter">
			<param name="StringToMatch" value="Schema evolution warning: row size mismatch: expected 236, read 228 bytes" /> 
			<param name="AcceptOnMatch" value="false " /> 
		</filter>
	</appender>
  
	<root>
		<priority value ="INFO" />
		<appender-ref ref="root_appender" />
	</root>
	
	<!-- playing with appenders, but for now just remove info messages from these makers
	<appender name="emc_appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c{2}:%p  %m%n"/>
		</layout>	    
		
		<filter class="StarOptionFilter">
			<param name="TotalMessagesQuota" value="100"/>
		</filter>

		<filter class="LevelMatchFilter">
			<param name="LevelToMatch"  value="INFO"/>
			<param name="AcceptOnMatch" value="true"/>
		</filter>
	</appender> -->
	
	<logger name="StEmcADCtoEMaker">
		<priority value = "WARN" />
	</logger>
  
	<logger name="StEmcTriggerMaker">
		<priority value = "WARN" />
	</logger>

</configuration>
