#!/usr/bin/env csh

# this is in place of buggy `module clear` (module VERSION=3.2.10 DATE=2012-12-21)
unsetenv _LMFILES_*

if ( $USE_64BITS == 1 ) then
    module purge
    module unuse /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86/
    module use   /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86_64/
else
    module purge
    module unuse /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86_64/
    module use   /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86/
endif

module load star-env-0.3.0-root-6.24.06
