#!/usr/bin/env csh

# this is in place of buggy `module clear` (module VERSION=3.2.10 DATE=2012-12-21)
unsetenv _LMFILES_*

if ( $USE_64BITS == 1 ) then
    module purge
    module unuse /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86/
    module use   /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86_64/
else
    module purge
    module unuse /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86_64/
    module use   /cvmfs/star.sdcc.bnl.gov/star-spack/spack/share/spack/modules/linux-rhel7-x86/
endif

module load star-env-0.3.0-root-6.24.06

# Remove paths containing the substring “ROOT/5” from the environment variable.
setenv LD_LIBRARY_PATH `echo $LD_LIBRARY_PATH | awk -v RS=: -v ORS=: '/ROOT\/5/ {next} {print}'`

#if ( $USE_64BITS == 1 ) then
#   module load clhep-2.4.5.1
#   module load geant4-data-10.5.1
#   # If NODEBUG is not set, load debug versions, otherwise, optimized
#   if (! $?NODEBUG) then 
#       module load geant4-10.5.1-debug
#       module load geant4-vmc-5-0-p5-root-6.24.06-debug
#       module load geant3-3-9-p1-root-6.24.06-debug
#       module load vmc-1-0-p3-root-6.24.06-debug
#   else
#       module load geant4-10.5.1
#       module load geant4-vmc-5-0-p5-root-6.24.06
#       module load geant3-3-9-p1-root-6.24.06
#       module load vmc-1-0-p3-root-6.24.06
#   endif
#else
#   if (! $?NODEBUG) then 
#       module load geant3-3-9-p1-root-6.24.06-debug
#       module load vmc-1-0-p3-root-6.24.06-debug
#   else
#       module load geant3-3-9-p1-root-6.24.06
#       module load vmc-1-0-p3-root-6.24.06
#   endif
#endif
#
#module list
